@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind components;

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-weight: 400px;
  font-style: normal;
}
.dm-sans-sb {
  font-family: "DM Sans", sans-serif;
  font-weight: 600px;
  font-style: normal;
}

.dm-sans-b {
  font-family: "DM Sans", sans-serif;
  font-weight: 700px;
  font-style: normal;
}

.mont {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}
.mont-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@layer base {
  h1 {
    @apply font-bold text-black text-[25px] md:text-[37px] lg:text-[48px] md:leading-[57px] tracking-[0.2px];
  }
  
  h2 {
    @apply text-[#737373] font-bold leading-[20px] tracking-[0.2px]  text-[18px] md:text-[21px] md:leading-[24px];
  }

  p {
    @apply text-[#737373] font-medium leading-[20px] tracking-[0.2px] text-[16px] md:text-[18px] md:leading-[24px];
  }
}

@layer components {
  .btn {
    @apply border-[1px] rounded-[5px] px-10 py-[15px] bg-[#FF6600];
    @apply text-[14px] font-bold tracking-[0.2px] text-white;
  }
  .btn-sm {
    @apply flex items-center justify-center border-[1px] rounded-[5px] px-6 py-[12px] bg-[#FF6600];
    @apply text-[10px] font-semibold  tracking-[0.2px] text-white;
  }
  .btn-xs {
    @apply flex justify-center items-center border-[1px] rounded-[5px] px-3 py-2 bg-[#FF6600];
    @apply text-[10px] font-semibold leading-[14px] tracking-[0.2px] text-white;
  }
  .btn-rounded {
    @apply border-[1px] rounded-3xl px-5 py-[14px] hover:bg-[#FF6600];
  }
}
