@import "../src/TestCss/TestCss.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.mySwiper .swiper-slide {
  transition: transform 0.6s ease-in-out; 
}
